@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-gray-100 text-gray-900;
  }
}

@layer components {
  .link {
    @apply text-primary-500 hover:text-primary-600 underline-offset-2 hover:underline transition-colors;
  }
}
